body{
    background-color: #006399!important;
}
.content{
    min-height: 100vh;
}
.navbar-brand{
    font-family: cursive;
    font-style: oblique;
    font-weight: 700;
    color: white!important;
    text-shadow: 2px 2px coral;
    line-height: 100%;
    font-size: 3vh;
}



.brand-div{
    border-radius: 60%;
    background-color:coral;
}

.game-board{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 400px;
    justify-content:space-evenly;
    background-color:#006399;
    padding-top: 2vh;
}

    .card-container{
width: 100%;
height: 100%;
}

.card{
width: 100%;
height: 100%;
position: relative;
transition: transform 0.6s;
transform-style: preserve-3d;

}

.card-container{
    width: 25%;
    height: 30%;
}

.back{
    object-fit:fill;
}

.score-board{
    display:flex;
    flex-direction:row ;
    margin: 0;
    font-size: 2vw;
    margin-bottom: 2vw;
    background-color: white;
    justify-content: space-evenly;
    
}
.score-div, .restart-div{
    display:flex;
    flex-direction:row ;
    font-size: 2vw;
    justify-content: space-between;
    text-align: center!important;

}

.restart-div{
    background-color: white;
    width: 100%;
}

span{
display: block;
width: 100%;
-moz-border-radius: 30%;
border-radius: 30%;

background-color: rgb(189, 86, 48);
color: white;
text-align: center;
}
.front, .back{
position: absolute;
height: 100%;
backface-visibility: hidden;
}


.front{
background: rgb(15, 15, 82);
}
.flipped{
transform: RotateY(180deg);
}
.back{
background: rgb(168, 93, 66);
}

.back img{
width: 100%;
height: 100%;
}

.front img{
width: 100%;
height: 100%;
object-fit:fill;
}


.new-game{
height: 50%;

}
nav{
background-color: rgb(0, 0, 0);
}
a{
color:coral!important;
}
.nav-link:hover{
color:white;
}

.about-info{
font-family: cursive;
color: white;
font-size: 3vw;
}

.restart-div{
display: flex;
justify-content: center;
align-items: center;
}


footer{
background-color: rgb(0, 0, 0);
height: 50px;
}

.modal-dialog{
background-color: rgb(222, 207, 201)!important;

}

